<!DOCTYPE html>
<html lang="en">
<head>

  
  <title>SocialMediaTracker</title>
</head>


<body>


<div style="text-align: center; font-weight: bold;"><big><big><big><big><span style="text-decoration: underline;">SocialMediaTracker<br>


</span><small><small><small>by Julian Liebig</small><br>


</small></small></big></big></big></big><br>


<br>


<div style="text-align: left;">
<form enctype="multipart/form-data" method="post" action="config" name="config">Configuration:<br>
  <br>


Link WhatsApp-Web: <input name="whatsapp" type="file"><br>


  <input name="submit" value="Save" type="submit"></form>


</div>


<br>


<div style="text-align: left;">
<form method="post" action="track" name="user"><span style="text-decoration: underline;"><span style="font-weight: bold;">User-Tracking:<br>


  <br>


  </span></span>Name: <input name="name"><br>


Known Social Media Accounts (leave blank if unknown):<br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Twitter: <input name="twitter"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; WhatsApp:
  <input name="whatsapp"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Facebook:
  <input name="facebook"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
Instagram: <input name="instagram"><br>


Tracker:<br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
Online-Time: <input checked="checked" name="time" type="checkbox"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
Sleep-Prediction: <input checked="checked" name="sleep" type="checkbox"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
Online-Prediction: <input checked="checked" name="onlineprediciton" type="checkbox"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Special
Words: <input name="words" value="word1, word2"><br>


&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
Information-Collector: <input checked="checked" name="collector" type="checkbox"><br>


  <input value="Start" name="submit" type="submit"></form>


</div>


</div>


</body>
</html>
